.contact {
  background: #fff;

  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
  height: 353px;
  padding: 45px;
  position: relative;
  bottom: -200px;
  width: 488px;
}

.input {
  background: #fff;
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  display: block;
  height: 50px;
  margin-top: 11px;
  padding: 5px 0 5px 20px;
  width: 100%;
}

.call {
  color: #000;
  text-align: left;
  font-size: 30px;
  font-family: var(--font-itc);
  font-weight: 500;
}

.label {
  color: #151515;
  font-size: 14px;
  font-family: var(--font-mont);
  font-weight: 500;
  letter-spacing: 0.26px;
}
