.button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.button + .button {
  padding-left: 5px;
}
.on {
  color: #ffa500;
}
.off {
  color: #ccc;
}

.title {
  font-family: var(--font-itc);
  font-size: 48px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px 0 20px 0;
}

.description {
  font-family: var(--font-mont);
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.textarea {
  font-family: var(--font-mont);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
  height: 48px;
  font-size: 16px;
  letter-spacing: -0.01em;
  max-width: 500px;
  color: #1d293f;
  outline: none;
  margin-top: 15px;
  padding: 14px 15px;
  height: 150px;
}

.send {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

.step2 {
  margin-top: 50px;
}

.share {
  display: flex;
  gap: 50px;
  background-color: #f6f6f6;
  padding: 30px;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 50px;
}

.button_google {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button_share {
  width: 150px;
  height: 40px;
}

.google_inner {
  display: flex;
  align-items: center;
  gap: 5px;
}
