@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("../../assets/ITC/ITCAvantGardeStd-DemiCn.woff2") format("woff2"),
    url("../../assets/ITC/ITCAvantGardeStd-DemiCn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Std";
  src: url("../../assets/ITC/ITCAvantGardeStd-Md.woff2") format("woff2"),
    url("../../assets/ITC/ITCAvantGardeStd-Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ITC Avant Garde Std";
  src: url("../../assets/ITC/ITCAvantGardeStd-Bold.woff2") format("woff2"),
    url("../../assets/ITC/ITCAvantGardeStd-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
