@import "reset";
@import "variables";
@import "fonts";

:root {
  --font-itc: "ITC Avant Garde Std";
  --primary-color: #0d22ff;
  --primary-color-hover: #0011cd;
  --black-color: #000;
  --secondary-color: #d90101;
  --secondary-color-hover: #9b0000;
  --bg-footer-color: #333;
  --text-primary-colorr: var(--text-primary-color);
}

.no-scroll {
  overflow: hidden;
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}

.button-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  margin: 20px auto 0;
  width: 408px;
  height: 65px;
  color: #fff;

  font-size: 18px;
  font-family: var(--font-itc);
  font-weight: 700;
  line-height: 125%;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: var(--primary-color-hover);
  }
}

.padding {
  padding-top: 100px;
}

.description {
  padding-top: 100px;
  font-family: var(--font-mont);
  font-size: 24px;
  font-weight: 700;
  color: #343434;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.button-loader.loading {
  position: relative;
  cursor: not-allowed;
}

.button-loader:disabled {
  cursor: not-allowed;
}

.button-loader.loading:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border: 3px solid #333;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.accordion {
  padding: 40px 40px 0 40px;

  background: var(--secondary-color);
  &__title {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;

    color: #fff;
    font-size: 25px;
    font-family: var(--font-itc);
    font-weight: 700;
  }

  &__icon {
    i {
      transition: 0.2s ease-in-out;
    }
  }

  &.active &__icon {
    i {
      transform: rotate(180deg);
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    // transition: 0.3s ease;
    color: #fff;
    font-size: 16px;
    font-family: var(--font-mont);
    font-weight: 500;
    line-height: 30px;
  }

  &__border {
    opacity: 0.5;
    margin-top: 40px;
    border: 1px solid #fff;
    width: 100%;
    height: 1px;
  }

  &.active &__content {
    max-height: 100%;
    width: 100%;
    padding-top: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 50px 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background: var(--secondary-color);
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  outline: 0;
  position: fixed !important;
  z-index: 123 !important;
  top: -35px !important;
  transition: background-color 0.2s ease, color 0.2s ease;

  &::after {
    font-size: 15px !important;
    color: #fff !important;
  }
}

.swiper-button-prev {
  right: 80px !important;
  left: auto !important;
  &:after {
    position: relative;
    left: -1px;
  }
}

.swiper-button-next {
  &:after {
    position: relative;
    left: 1px;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  background: #e0f2ff !important;
  border: 1px solid #cf4444 !important;
  opacity: 1 !important;

  &:after {
    color: var(--secondary-color) !important;
  }
}

@media screen and (max-width: $smDesktopWidth) {
  .map {
    flex-direction: column;
    align-items: center;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: $tableWidth) {
  .map {
    flex-direction: column;
    align-items: center;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $phoneWidth) {
  .accordion__title {
    font-size: 15px;
  }

  .accordion__content {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: auto;
    place-content: center;
  }
}
