@import "src/styles/variables.scss";

.contact {
  background: #fff;

  box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
  padding: 45px;
}

.form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;

  label {
    font-size: 12px;
  }
}

.formData {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.input {
  background: #fff;
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  display: block;
  height: 50px;
  margin-top: 11px;
  padding: 5px 0 5px 20px;
  width: 100%;
}

.call {
  color: #000;
  text-align: left;
  font-size: 30px;
  font-family: var(--font-mont);
  font-weight: 500;
  width: 50%;

  p {
    font-size: 34px;
  }

  a {
    color: #000;
    text-align: left;
    font-size: 42px;
    font-family: var(--font-itc);
    font-weight: 500;
  }
}

.label {
  color: #151515;
  font-size: 14px;
  font-family: var(--font-mont);
  font-weight: 500;
  letter-spacing: 0.26px;
}

@media screen and (max-width: $tableWidth) {
  .form {
    flex-direction: column;
    padding: 10px;
    align-items: flex-start;
  }

  .call {
    white-space: pre;

    p {
      font-size: 20px;
    }

    a {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .contact {
    width: 100%;
    bottom: -50px;
    height: 100%;
    padding: 20px;

    button {
      padding: 10px 25px;
      font-size: 13px;
      width: 100%;
    }
  }

  .form {
    padding: 0;
  }

  .call {
    font-size: 20px;
  }
}
