@import "src/styles/variables.scss";

.logo {
  align-items: center;

  display: flex;
  height: 190px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s ease-in-out;
  width: 292px;
  z-index: 3;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 30px;
  }
}

.header {
  gap: 184px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

@media screen and (max-width: $tableWidth) {
  .logo {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
