@import "src/styles/variables.scss";

.navigation {
  padding: 44px 0 40px;
}

.button {
  width: 170px;
  height: 48px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 700;
  position: relative;

  &:after {
    content: "";
    background-image: url("/images/phone.svg");
    width: 18px;
    height: 18px;
    position: absolute;
    left: 20px;
    top: 15px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 38px;
  margin-left: 200px;
}

.link {
  color: var(--color-black);
  font-size: 16px;
  font-family: var(--font-itc);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.274px;
  transition: color 0.3s ease;

  &:hover {
    color: var(--secondary-color);
  }
}

.mobile_btn {
  display: none;
}

.active {
  color: var(--secondary-color);
  font-size: 16px;
  font-family: var(--font-itc);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.274px;
}

@media (max-width: $smDesktopWidth) {
  .item + .item {
    padding-left: 0 !important;
  }

  .mobile_btn {
    display: block;
    position: fixed;
    right: 10px;
    top: 35px;
    cursor: pointer;
    z-index: 5001;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -100%;
    right: 0;
    margin-left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    color: var(--color-black);
    background-color: #f8f8f8;
    z-index: 5000;
    transition: left 1s;
  }

  .active {
    left: 0;
  }
}

.navigation li {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation li:hover > .sub_menu {
  display: block;
}

.sub_menu {
  background: var(--bg-color);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 10px 10px;
  z-index: 9999;
  padding: 20px;
  white-space: nowrap;
  display: none;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, 0);
}

.sub_menu_item {
  padding: 10px 15px;
}

.sub_menu_link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.274286px;
  font-family: var(--font-mont);
  transition: color 0.3s ease;
}

.svg {
  width: 6px;
  height: 3px;
  position: absolute;
}
