@import "src/styles/variables.scss";

.choose {
  margin-bottom: 100px;
}

.description {
  padding-top: 10px;
  padding-bottom: 30px;
  color: #343434;
  text-align: center;
  font-size: 16px;
  font-family: var(--font-mont);
  font-weight: 500;
  line-height: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media screen and (max-width: $tableWidth) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: $phoneWidth) {
  .cards {
    grid-template-columns: auto;
    place-content: center;
  }
}
