@import "src/styles/variables.scss";

.banner {
  min-height: 500px;
  position: relative;
  top: 50px;
}

.info {
  z-index: 3;
  display: flex;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.title_width {
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 70px !important;
  transform: translate(0, -50%);
  width: 770px;
}

.title {
  position: absolute;
  top: 50%;
  z-index: 5;
  font-size: 70px !important;
  transform: translate(0, 0%);
}

.info_description {
  position: absolute;
  top: 60%;
  z-index: 5;
  font-size: 70px !important;
  transform: translate(0, -50%);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button_link {
  padding-top: 20px;
}

.description {
  color: #fff;
  font-family: var(--font-itc);
  font-size: 43px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.form {
  margin-top: 100px;
}

@media screen and (max-width: $tableWidth) {
  .info {
    flex-direction: column;

    div + div {
      position: inherit;
      bottom: -250px;
    }
  }
}

@media screen and (max-width: $phoneWidth) {
  .info {
    flex-direction: column;
    gap: 30px;

    div + div {
      position: inherit;
      bottom: -200px;
    }
  }
}
