@import "src/styles/variables.scss";

.profile_cards {
  margin-bottom: 100px;
}

.description {
  color: var(--text-primary-color);
  text-align: center;
  font-size: 16px;
  font-family: var(--font-mont);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media screen and (max-width: $tableWidth) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: $phoneWidth) {
  .cards {
    grid-template-columns: auto;
    place-content: center;
  }
}
