@import "src/styles/variables.scss";

.banner {
  margin-bottom: 100px;
  position: relative;
}

.video {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.info {
  z-index: 3;
}

.info_inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.form {
  position: absolute;
  bottom: 40%;
  right: 20%;
  transform: translate(0%, 20%);
}

.title {
  font-size: 50px;
  color: #fff;
  font-family: var(--font-itc);
  font-weight: 700;
  line-height: 44px;

  h1 {
    font-size: 111px;
    line-height: 97.68px;
  }
}

.sub_title {
  color: #fff;
  font-size: 43px;
  font-family: var(--font-itc);
  font-weight: 500;
  margin-bottom: 40px;
}

@media screen and (max-width: $tableWidth) {
  .banner {
    margin-bottom: 100px;
  }

  .info_inner {
    flex-direction: column;
    align-items: center;

    top: 40%;
  }
}

@media screen and (max-width: $phoneWidth) {
  .banner {
    margin-bottom: 100px;
  }

  .button {
    display: none;
  }

  .info {
    flex-direction: column;

    top: 57%;
  }

  .title {
    h4 {
      font-size: 40px;
    }
    h1 {
      font-size: 65px;
      line-height: 71.68px;
    }
  }
}
