@import "src/styles/variables.scss";

.credentials {
  padding-top: 100px;
}

.title {
  text-align: left;
}

.description {
  color: #343434;

  padding: 50px 0;
  font-family: var(--font-mont);

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.text {
  color: #343434;
  font-family: var(--font-mont);
  font-size: 16px;
  font-weight: 500;
  margin-left: 30px;
  list-style-type: disc;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.text + .text {
  padding-top: 3px;
}

.main {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
}

.column_name {
  color: var(--secondary-color);
  font-family: var(--font-mont);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 12px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: $tableWidth) {
  .main {
    grid-template-columns: auto;
    gap: 35px;
  }
}

@media screen and (max-width: $phoneWidth) {
  .main {
    grid-template-columns: auto;
    gap: 35px;
  }
}
